{% load static from staticfiles %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block title %}<title>Djangolist</title>{% endblock %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="{% url 'homepage' %}">Djangolist</a></h1>
            <nav>
                <ul>
                    {%  if user.is_authenticated %}
                        <li>{% trans "Logged in as" %}: {{ user.username }}</li>
                        <li>
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">{% trans "Logout" %}</button>
                            </form>
                        </li>
                        <li><a href="{% url 'accounts:profile' %}">{% trans "Profile" %}</a></li>
                        <li><a href="{% url 'auctions:create' %}">{% trans "Create new auction" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">{% trans "Log in" %}</a></li>
                        <li><a href="{% url 'accounts:signup' %}">{% trans "Sign up" %}</a></li>
                        <li>
                            <label>{% trans "Language" %}</label>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <select name="language" id="">
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {{ language.name_local }} ({{ language.code }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="{% trans "Save" %}">
                            </form>
                        </li>
                    {% endif %}
                        <li>
                            <label>{% trans "Currency" %}</label>
                            <form action="{% url 'accounts:set_currency' %}" method="post">
                                {% csrf_token %}
                                <select name="currency" id="">
                                    <option value="EUR" {% if request.session.currency == 'EUR' %} selected {% endif %} >Euros (€)</option>
                                    <option value="USD" {% if request.session.currency == 'USD' %} selected {% endif %}>US Dollars ($)</option>
                                </select>
                                <input type="submit" value="{% trans "Save" %}">
                            </form>
                        </li>
                        <li><a href="{% url 'auctions:list'  %}">{% trans "Browse auctions" %}</a></li>
                    {% if perms.auctions.view_banned_auctions %}
                        <li><a href="{% url 'auctions:banned-list'  %}">{% trans "View banned auctions" %}</a></li>
                    {% endif %}

                </ul>
            </nav>
        <header>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>