{%  load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block title %}<title>Djangolist</title>{% endblock %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="{% url 'homepage' %}">Djangolist</a></h1>
            <nav>
                <ul>
                    {%  if user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}">Profile</a></li>
                        <li>
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                    {% endif %}
                    <li><a href="{% url 'auctions:list'  %}">Browse auctions</a></li>
                </ul>
            </nav>
        <header>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>