{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Search for auctions by title:</h2>
        <form action="{% url 'auctions:list' %}" method="get">
            {% csrf_token %}
            {{ search_form.as_p }}
            <input type="submit" value="Search"><br>
        </form>
        <h2>Create a new auction</h2>
        <p> The expected format for the deadline is "yyyy-mm-dd hh:mm:ss"</p>
        <p> The expected format for the deadline is deadline has to be at least 72h from now</p>
        <form action="{% url 'auctions:list' %}" method="post">
            {% csrf_token %}
            {{ create_form.as_p }}
            <input type="submit" value="Create">
        </form>
    {% endif %}
    {% if request.GET.title %}
        <h2>Auctions matching the search: "{{ title }}"</h2>
    {% else %}
        <h2>List of all currently active auctions:</h2>
    {% endif %}
    {% for auction in auctions %}
        <div class="auction">
            <a href="{% url 'auctions:detail' auction_id=auction.id %}"><h2>{{ auction.title }}</h2></a>
            <p>Seller: {{ auction.user }}</p>
            <p>{{ auction.short_desc }}</p>
            <p>Price: {{ auction.price }}</p>
            <p>Deadline: {{ auction.deadline }}</p>
        </div>
    {% endfor %}
{% endblock %}