{% extends "base.html" %}

{% block content %}
    <h2>Search for auctions by title:</h2>
    <form action="{% url 'auctions:list' %}" method="get">
        {% csrf_token %}
        <p><label for="title">Search:</label>
        <input id="title" type="text" name="title" maxlength="100" required></p>
        <p><input type="submit" value="Search"><br></p>
    </form>
    {% if request.GET.title %}
        <h2>Auctions matching the search: "{{ title }}"</h2>
    {% else %}
        <h2>List of all currently active auctions:</h2>
    {% endif %}
    {% for auction in auctions %}
        <div class="auction">
            <a href="{% url 'auctions:detail' auction_id=auction.id %}"><h2>{{ auction.title }}</h2></a>
            <p>Seller: {{ auction.seller }}</p>
            <p>{{ auction.description }}</p>
            <p>Starting price: {{ auction.minimum_bid }}</p>
            <p>Latest bid: {{ auction.get_latest_bid_amount }}</p>
            <p>Deadline: {{ auction.deadline }}</p>
        </div>
    {% endfor %}
{% endblock %}