{% extends "base.html" %}

{% block content %}
    <div class="auction-details">
        <h2> {{ auction.title }}</h2>
        <p>Seller: {{ auction.user }}</p>
        <p>Description: {{ auction.description }}</p>
        <p>Price: {{ auction.price }}</p>
        <p>Deadline: {{ auction.deadline }}</p>
        {% if user.is_authenticated %}
            <p>{{ error }}</p>
            <form method="post" action="{% url 'auctions:detail' auction_id=auction.id %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Bid">
            </form>
        {% endif %}
    </div>
{% endblock %}