{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div id="create-article">
        <h2>{% trans "Create a new auction" %}</h2>
        <p>{% trans "The expected format for the deadline is 'yyyy-mm-dd hh:mm:ss'" %}</p>
        <p>{% trans "The expected format for the deadline is deadline has to be at least 72h from now" %}</p>
        <form action="{% url 'auctions:create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}