{% extends "base.html" %}

{% block content %}
    <div class="auction-details">
        <h2> {{ auction.title }}</h2>
        <p>Seller: {{ auction.seller }}</p>
        <p>Description: {{ auction.description }}</p>
        {%  if auction.user == request.user %}
            <br><a href="{% url 'auctions:edit' auction_id=auction.id %}">Edit description</a>
        {% endif %}
        <p>Price: {{ auction.minimum_bid }}</p>
        <p>Deadline: {{ auction.deadline }}</p>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'auctions:detail' auction_id=auction.id %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Bid">
            </form>
        {% endif %}
    </div>
{% endblock %}