{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="auction-details">
        <h2> {{ auction.title }}</h2>
        <p>{% trans "Seller" %}: {{ auction.seller }}</p>
        <p>{% trans "Description" %}: {{ auction.description }}</p>
        {%  if auction.seller == request.user %}
            <a href="{% url 'auctions:edit' auction_id=auction.id %}">{% trans "Edit description" %}</a>
        {% endif %}
        <p>{% trans "Starting price" %}: {{ auction.minimum_bid }} EUR {% if currency == 'USD' %}({{ converted_min_bid }} {{ currency }}) {% endif %}</p>
        <p>{% trans "Latest bid" %}: {{ auction.get_latest_bid_amount }} EUR {% if currency == 'USD' %}({{ latest_bid }} {{ currency }}) {% endif %}</p>
        <p>{% trans "Deadline" %}: {{ auction.deadline }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'auctions:bid' auction_id=auction.id %}">{% trans "Bid" %}</a>
        {% endif %}
        {% if perms.ban_auction %}
            <a href="{% url 'auctions:ban' auction_id=auction.id %}">{% trans "Ban" %}</a>
        {% endif %}
    </div>
{% endblock %}